@import 'tailwindcss';

@theme {
  --color-midnight-wisp: #3C0B68;
  --color-midnight-light: #310A54;
  --color-midnight-medium: #270B40;
  --color-midnight-dark: #160227;
  --color-midnight-black: #0F0114;
  --color-midnight-blue-black: #0D0619;

  --color-moon-white: #D8E4FF;
  --color-moon-blue: #C9D5F0;

  --color-pumpkin-red: #CC4729;
  --color-pumpkin-orange: #CD6B29;


  --font-sans: "early-sans-variable", sans-serif;
  --font-serif: "loretta-display-variable", serif;
  --font-slab: "oso-serif-variable", serif;
}

@layer base {
  a:not(.clear) {
    color: var(--color-blue-700);
  }

  @media (hover: hover) {
    a:not(.clear):hover {
      text-decoration: underline;
    }
  }

  strong:not(.clear) {
    font-weight: var(--font-weight-semibold);
  }

  em:not(.clear) {
    color: color-mix(in srgb, currentColor, transparent 12%);
  }

  hr:not(.clear) {
    border-color: color-mix(in srgb, currentColor, transparent 80%);
  }

  input[type=text]:not(.clear) {
    border: --spacing(0.25) solid var(--color-gray-100);
    border-bottom: --spacing(0.5) solid var(--color-sky-300);
    border-left: --spacing(1) solid var(--color-rose-300);
    padding-left: --spacing(1);
  }

  textarea:not(.clear) {

  }
}

@layer components {
  .c-text-gradient {
    width: max-content;
    background: linear-gradient(to right, var(--color-pumpkin-red), var(--color-pumpkin-orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .c-btn {
    font-family: var(--font-slab);
    border: --spacing(0.25) solid var(--color-black);
    border-bottom-width: --spacing(1.5);
    transition: transform 50ms linear, clip-path 50ms linear;
    @apply flex items-center justify-center;
  }

  .c-btn:disabled {
    filter: grayscale(1) contrast(0.7);
    clip-path: rect(auto 100% calc(100% - --spacing(1.25)) auto);
  }

  .c-btn:active:not(:disabled) {
    /* border-bottom-width: --spacing(1); */
    transform: translateY(--spacing(0.5));
    clip-path: rect(auto 100% calc(100% - --spacing(0.5)) auto);
  }

  @media (hover: hover) {
    .c-btn:hover:not(:active):not(:disabled) {
      transform: translateY(calc(-1 * --spacing(0.5)));
      @apply shadow-lg;
    }
  }
}


